{% extends "auctions/layout.html" %}

{% block body %}

<style>

    .posts {
        width: 30%;;
        margin: 1%;
        display: inline-block;
    
    }
    
    p {
        text-align: center;
    }
    
    a {
      color: inherit;
      text-decoration: none;
     }
    
    
</style>

<h1>Active Listings in: {{category}}</h1>

    {% for list in listing_category%}

        {% if list.closed == False %}

            <a href="{% url 'listing' list.id %}"><div class = 'posts'>
                <p> {{list.title}} </p>
                <p> {{list.description}} </p>
                <p> £{{list.price}} </p>
                <img src = {{list.image}} style='height: 100%; width: 100%; object-fit: contain'/>
                <p> Posted: {{list.create_date}} </p>
            </div>
        
        {% elif list.closed.all == True %}
            <p1>No Active Listings</p1>
        {% endif %}

    {% endfor %}


{% endblock %}